body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  background-color: #282c34;
  padding-bottom: 68px;
}

.App-logo {
  height: 20vmin;
}

.App-header {
  text-align: center;
  min-height: calc(100vh - 130px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header p {
  margin-bottom: 10px;
  padding: 10px 10px 10px 10px;
  max-width: 560px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.App-header a {
  color: #09d3ac;
}


.App-footer {
  text-align: center;
  padding-top: 30px;
}


.App-markdown {
  margin: 16px auto 0 auto;
  max-width: 965px;
  border-radius: 5px;
  padding: 16px;
  background-color: #fff;
}
